@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'roboto';
    font-size: 16px;
    background-color: #F1FAEE;
}

strong {
    color: #1D3557;
}

h1 {
    font-size: 3em;
}

h3 {
    text-transform: uppercase;
    font-size: 1.2em;
}

li {
    line-height: 30px;
}

a {
    text-decoration: none;
    color: rgb(69, 123, 157)
}

.button-indice {
    color: #F1FAEE;
    background-color: #E63946;
    padding: 5px 10px;
    border-radius: 5px;
}

.button-indice:hover {
    background-color: rgba(143, 29, 38, 0.863)
}