@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'roboto';
    font-size: 16px;
    margin: 0;
}

#container {
    background-color: #1D3557;
    margin: 0px auto;
    width: 80%;
    border-radius: 5px;
    padding: 10px;
}

#my-inf-container {
    height: auto;
}

#name {
    text-align: center;
}

h1 {
    font-size: 3em;
    text-transform: uppercase;
    color: #F1FAEE;
}

#indice {
    margin: 20px 0px;
    text-align: center;
}

a {
    text-decoration: none;
    color: #A8DADC;
}

a:hover {
    text-decoration: underline;
}

.button-indice {
    color: #F1FAEE;
    background-color: #457B9D;
    padding: 15px 30px;
    border-radius: 10px;
    margin-right: 20px;
    text-transform: uppercase;
}

.button-indice:hover {
    background-color: #E63946;
    color: #F1FAEE;
    text-decoration: none;
}

#img-desc {
    display: inline-block;
    height: auto;
    margin: 20px 0px;
}

#my-img {
    float: left;
    padding: 5px;
    border-radius: 5px;
    background-color: #F1FAEE;
    margin-right: 15px;
}

img {
    vertical-align: middle;
    border-radius: 5px;
}

#sobre-mim p {
    margin: 0;
}

strong {
    color: #A8DADC;
}

h3 {
    background-color: #457B9D;
    color: #F1FAEE;
    text-transform: uppercase;
    font-size: 1.2em;
    padding: 10px 0px 10px 10px;
    border-radius: 5px;
}

p, li {
    line-height: 30px;
    color: #F1FAEE;
}

ul li:nth-of-type(2n+1) strong{
    color: #FFF;
}

