@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;600;700&display=swap');

* {
  font-size: 20px;
  font-family: 'Source Sans Pro', sans-serif;
}

#top {
  background-color: aquamarine;
}

.top-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top-container li {
  margin-right: 0 !important;
  padding: 0 5px;
}

.top-container ul {
  margin-top: 15px;
}

h1 {
  text-align: center;
  font-size: 1.5rem;
}

svg {
  width: 10px;
}

section {
  margin-bottom: 20px;
}

#about-container, #projects-container {
  display: flex;
  flex-direction: column;
}

#myimg-container {
  width: 100%;margin-bottom: 15px;

}

h2 {
  font-size: 1.3rem;
  padding-top: 75px;
}

/*Source: https://stackoverflow.com/questions/46910157/how-to-add-a-partial-border-to-header-title*/
h2::after {
  content: "";
  display: block;
  border-bottom: 2px solid darkblue;
  width: 5%;
  position: relative;
  bottom: -6px;
}