nav {
  border-bottom: solid 1px aliceblue;
  height: 100%;
  position: sticky;
  top: 0;
}

li {
  list-style: none;
}

a {
  color: aliceblue;
  text-decoration: none;
}

.parent {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(4, 15%);
  grid-template-rows: 80px;
  grid-column-gap: 20px;
  grid-row-gap: 0px;
  justify-content: center;
  justify-items: center;
}
